/* Importa o arquivo CSS que importa a fonte Ravie */
@import "fonts/ravie.css";

body {
  margin: 0;
}

#recipiente {
  background-image: linear-gradient(#f6f1b2, #4599b2);
  border: 1px solid #d3d3d3;
  box-sizing: border-box;
  width: 800px;
  margin: 0 auto;
  position: relative;
}

#cabecalho h1 {
  font-family: 'Ravie';
  font-size: 32px;
  color: #e90c0c;
  text-align: center;
  padding-left: 90px;
  margin-bottom: 0px;
}

#cabecalho h2 {
  font-family: 'Trebuchet MS';
  font-size: 24px;
  color: #333;
  text-align: right;
  padding-right: 90px;
  margin: 5px 0;
}

#cabecalho em {
  color: #d027aa;
  font-style: normal;
}

#conteudo {
  font-family: 'Verdana';
}

#cardapio {
  box-sizing: border-box;
  width: 646px;
  margin: 0 1px 0 153px;
  background-color: rgba(255, 255, 255, 0.2);
  border: 1px solid #aac0ae;
  line-height: 2em;
  padding: 0 15px 50px 15px;
  color: #333;
  font-size: 16px;
  display: flex;
  flex-direction: column;
}

.produto {
  float: left;
  clear: left;
}

.preco {
  float: right;
}

#cardapio h3:not(:first-child) {
  margin-top: 2em;
}

#cardapio h3 {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 0;
}

#lateral {
  top: 0;
  position: absolute;
  box-sizing: border-box;
  width: 154px;
  height: 100%;
}

#lateral h2 {
  position: absolute;
  top: 45%;
  left: 50%;
  margin-top: -29px;
  margin-left: -120px;
  font-size: 48px;
  color: #333;
  font-weight: bold;
  transform: rotate(-90deg);
}

#lateral img[src*="siri"] {
  position: relative;
  top: 7px;
  left: -10px;
}

#lateral img[src*="bolhas"] {
  position: relative;
  left: 22px;
  margin-top: 378px;
}

#lateral img[src*="peixe"] {
  position: relative;
  top: 14px;
  left: -47px;
}

#rodape {
  text-align: right;
}

#rodape img {
  margin: 46px 15px 25px 0;
}

#ticket {
  position: fixed;
  top: 295px;
  left: -73px;
  transition: left 100ms ease-out; /* propriedade, duração, interpolação */
}

#ticket:hover {
  left: 0;
}
